@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


.competence-info img {
  margin-bottom: 15%;
}

.competence-info h2 {
  margin-bottom: 10%;
}

.competence-form label {
  font-weight: 600;
}

.competence-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
}

  .competence-form button:focus {
    box-shadow: none;
  }
