@using PlanC.Views.Shared.Assets.SideBar
@using Newtonsoft.Json
@using System.IO
@using System.Text;


@{
    // construit la navigation à partir du fichier json
    NavbarBuilder navbar = JsonConvert.DeserializeObject<NavbarBuilder>(
        File.ReadAllText(
            "menu.json",
            Encoding.UTF7
        ));
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlanC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">                
                @foreach (LinkItem item in navbar.LinkItems)
                {
                    <partial name="../SideBar/_itemnavbar.cshtml" for="@item" />
                }
            </ul>
        </div>
    </div>
</nav>