<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="far fa-address-card"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> Profil </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-area="">
            <i class="fas fa-archway"></i>
            <span> Portail </span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <a class="sidebar-heading" asp-area="admin"> Administration </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-graduation-cap"></i>
            <span> Programmes d'études </span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"> Sélections </h6>
                <a class="collapse-item" href="#"> Les départements </a>
                <a class="collapse-item" href="#"> Ajout de départements </a>
                <a class="collapse-item" href="#"> Programmes d'études </a>
                <a class="collapse-item" href="#"> Ajout de programmes </a>
                <a class="collapse-item" href="#"> Tout visionner </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <!-- section pour tout les ajouts utilitaire -->
            <i class="fas fa-coffee"></i>
            <span> Modules </span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- Module de compétences -->
                <h6 class="collapse-header"> Compétences </h6>
                <a class="collapse-item" href="~/Personnel/Competences"> Les compétences </a>
                <a class="collapse-item" href="~/Personnel/Competences/Nouvelle"> Ajouts de compétences </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <a class="sidebar-heading" asp-area="personnel"> Personnel enseignant </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fab fa-elementor"></i>
            <span> Document </span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- les plans- cadres -->
                <h6 class="collapse-header"> Les plans-cadres </h6>
                <a class="collapse-item" href="~/Personnel/PlansCadres"> Liste des plans-cadres </a>
                <a class="collapse-item" href="~/Personnel/PlansCadres/Nouveau"> Ajout de plans-cadres </a>
                <!-- les plans de cours -->
                <h6 class="collapse-header"> Les plans de cours </h6>
                <a class="collapse-item" href="~/Personnel/PlanCours"> Liste des plans de cours </a>
                <a class="collapse-item" href="~/Personnel/PlanCours/Nouveau"> Ajout de plans de cours </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="far fa-file-alt"></i>
            <span> Tout les documents </span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
