@using Microsoft.AspNetCore.Html
@using PlanC.WebApi.Models


<table>
    <tbody>
        <tr>
            <td valign="top">
                <h4><a href="#">#@Department.Id</a></h4>
            </td>
            <td>
                <h4>@Department.Title</h4>
                <h5><b>Politique du département</b></h5>

                <p>@(new MarkupString(Department.Policy))</p>
            </td>
        </tr>
    </tbody>
</table>


@code {
    [Parameter]
    public Department Department { get; set; }
}
