@using PlanC.WebApi.Server.DataAccess
@using PlanC.WebApi.Models
@using PlanC.Web.Client.Areas.Admin.Pages.Departements
@inject PCU001Context _context


<div class="col-12">
    <div class="card shadow">
        <div class="card-body">
            @foreach (Department department in departements)
            {
                <ItemDepart Department="@department"></ItemDepart>
            }
        </div>
    </div>
</div>

@code {

    List<PlanC.WebApi.Models.Department> departements;

    protected override void OnInitialized()
    {
        // initialise la liste des départements pour la page
        departements = _context.Departments.ToList();
    }
}
