@page
@model PlanC.Web.Client.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Administration";
}

<div class="text-center">
    <h1 class="display-4"> Administration </h1>
    <p> Tout les outils nécessaires. </p>
</div>


<!-- Titre de la page -->
<h1 class="h3 mb-1 text-gray-800">Administration</h1>
<p class="mb-4">
    Pour la réalisation d'une bonne gestion de vos tâches en tant que qu'administrateur de cette application,
    vous retrouver ci-bas les liens nécessaires, lesquels vous guiderons tout au long des processus.
</p>
<!-- Section de navigation -->
<div class="row">
    <div class="col-lg-6">
        <!-- Les liens utiles -->
        <div class="card mb-4">
            <div class="card-header">
                Liens utilitaires
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 d-flex flex-column">
                        <a href="/admin/departement"> Les départements </a>
                        <a href="/admin/departement/nouveau"> Ajout de départements </a>
                        <a href="/admin/repertoire"> Tout visualiser </a>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <a href="/admin/programmes"> Les programmes </a>
                        <a href="/admin/programmes/nouveau"> Ajout de programmes </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!-- Message distiné pour le groupe d'administration -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger"> Important </h6>
            </div>
            <div class="card-body">
                Pour toute création de programme, vous devez obtenire l'authorisation du siège de la commission des études.
            </div>
        </div>
    </div>
</div>

<!-- Tables des départements -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Titre pour fragment des départements -->
        <h6 class="m-0 font-weight-bold text-capitalize"> Aperçu des départements </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @(await Html.RenderComponentAsync<PlanC.Web.Client.Components.TDepartements>(RenderMode.Server))
        </div>
    </div>
</div>


<!-- Tables des programmes -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Titre pour fragment des programmes -->
        <h6 class="m-0 font-weight-bold text-capitalize"> Aperçu des programmes </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @(await Html.RenderComponentAsync<PlanC.Web.Client.Components.TProgrammes>(RenderMode.Server))
        </div>
    </div>
</div>

@section Scripts  {
    <!-- Scripts unique pour la page -->
    <script src="~/js/data/jquery.dataTables.min.js"></script>
    <script src="~/js/data/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/data/datatables-demo.js"></script>
    <!-- uniquement pour la table razor -->
    <script>
        ej.base.L10n.load({
            'fr-FR': {
                'grid': {
                    'EmptyRecord': 'Enregistrement vide',
                    'Add': 'Ajouter',
                    'Edit': 'Modifier',
                    'Delete': 'Supprimer',
                    'Items': 'Éléments'
                },
                'pager': {
                    'currentPageInfo': '{0} de {1} pages'
                }
            }
        });
    </script>
}
