@page
@namespace PlanC.Web.Client.Areas.Admin.Pages
    
@model IndexModel
@{
    // page d'attérissage pour le portail de l'administration
    ViewData["Title"] = "Administration";
}

<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col-lg-8">
        <!-- Titre de la page -->
        <h1 class="h3 mb-1 text-gray-800 mb-3"> Administration </h1>
        <!-- Message de bienvenue et option administrateur -->
        <p>
            Vous retrouvez ci-dessous les différentes options dans l'optique de l'opération de cet application.
            <div class="d-flex flex-row card-area">
                <div class="d-flex flex-row">
                    <a href="~/Admin/Departements"> Les départements </a>
                    <a href="~/Admin/Programmes"> Les programmes </a>
                    <a href="#"> Voir l'ensemble </a>
                </div>
            </div>
        </p>
    </div>
    <div class="col-lg-4">
        <!-- Message distiné pour le groupe d'administration -->
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger"> Important </h6>
            </div>
            <div class="card-body">
                Pour toute création de programme, vous devez obtenire l'authorisation du siège de la commission des études.
            </div>
        </div>
    </div>
</div>

<!-- Tables des départements -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Titre pour fragment des départements -->
        <h6 class="m-0 font-weight-bold"> 
            <a href="~/Admin/Departements"> Les départements </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @(await Html.RenderComponentAsync<PlanC.Web.Client.Components.TDepartements>(RenderMode.Server))
        </div>
    </div>
</div>


<!-- Tables des programmes -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Titre pour fragment des programmes -->
        <h6 class="m-0 font-weight-bold">
            <a href="~/Admin/Programmes"> Les programmes </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @(await Html.RenderComponentAsync<PlanC.Web.Client.Components.TProgrammes>(RenderMode.Server))
        </div>
    </div>
</div>

@section Scripts  {
    <!-- uniquement pour la table razor -->
    <script>
        ej.base.L10n.load({
            'fr-FR': {
                'grid': {
                    'EmptyRecord': 'Enregistrement vide',
                    'Add': 'Ajouter',
                    'Edit': 'Modifier',
                    'Delete': 'Supprimer',
                    'Items': 'Éléments'
                },
                'pager': {
                    'currentPageInfo': '{0} de {1} pages'
                }
            }
        });
    </script>
}
