@using Syncfusion.EJ2.Blazor.DropDowns
@using Syncfusion.EJ2.Blazor.Data
@using Microsoft.EntityFrameworkCore
@inject PCU001Context _context
@inherits CoursePlanInputFormComponent

<label class="label-info">Choix de plan-cadre</label>
@*combo box proposant des choix que l'utilisateur peut prendre pour définir le plan de cours*@
<EjsComboBox TValue="PlansCadres" DataSource="Templates">
    <ComboBoxEvents TValue="string" ValueChange="SetTemplate"></ComboBoxEvents>
    <ComboBoxFieldSettings GroupBy="ProgrammeId" Value="CoursId" Text="DenominationCours"></ComboBoxFieldSettings>
</EjsComboBox>

<label class="label-info">Choix de session</label>
<EjsComboBox TValue="Sessions" DataSource="Semesters">
    <ComboBoxEvents TValue="string" ValueChange="SetSemester"></ComboBoxEvents>
    <ComboBoxFieldSettings Value="Id" Text="Titre"></ComboBoxFieldSettings>
</EjsComboBox>

<textarea class="input text form-control" @bind="CoursePlan.CoursePolicy" placeholder="Copiez-collez les politiques de votre département"></textarea>

@code {
    private List<PlansCadres> Templates { get; set; } = new List<PlansCadres>();
    private List<Sessions> Semesters { get; set; } = new List<Sessions>();
    [Parameter]
    [Bindable(true)]
    public PlansCadres plCadreChooseen { get; set; }

    protected override void OnInitialized()
    {
        Templates = _context.PlansCadres.ToList();
        Semesters = _context.Sessions.ToList();
    }

    public async override Task<bool> SaveProgress()
    {
        try
        {
            if (!_context.PlansCours.Local.Contains(CoursePlan))
            {
                _context.PlansCours.Add(CoursePlan);
            }
            await _context.SaveChangesAsync();
            return true;
        }
        catch (Exception except)
        {
            Console.WriteLine($"Error saving plan template and policy -- {except.Message}");
            return false;
        }
    }

    public override string ToString()
    {
        return "Choix de cadre et politiques";
    }

    private void SetTemplate(ChangeEventArgs<string> args)
    {
        plCadreChooseen = _context.PlansCadres.Where(e => e.CoursId.Trim() == args.Value.Trim())
                .OrderByDescending(p => p.VsnCdttm).FirstOrDefault();
        CoursePlan.CoursId = args.Value;
        StateHasChanged();
    }

    private void SetSemester(ChangeEventArgs<string> args)
    {
        CoursePlan.SessionId = args.Value;
        StateHasChanged();
    }
}
