@page "/departement/{id:int}"
@inject PCU001Context context

@using  PlanC.Client.Components

<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"> Portail </a></li>
                <li style="padding: 0 4px;"><i class="fas fa-home" style="font-size: 15px; color: #3f51b5;"></i></li>
                <li class="breadcrumb-item"><i class="fas fa-circle" style="font-size: 5px; vertical-align: middle; padding-right: 2px;"></i></li>
                <li class="breadcrumb-item"><a href="/departement"> Départements </a></li>
                <li class="breadcrumb-item active" aria-current="page"> @department.Id </li>
            </ol>
        </nav>
    </div>
    <!-- Message distiné pour le groupe d'administration -->
    <div class="col-12">
        <div class="alert alert-light show shadow" role="alert">
            <div class="alert-icon text-warning">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="alert-text">
                Vous devez avoir la dernière version de votre plan de cours pour le 26 septembre.
            </div>
        </div>
    </div>
</div>


<!-- Affiche les informations d'un département -->
<table style="position: relative">
    <tbody>
        <tr>
            <td valign="top">
                <h4><a href="#">#@department.Id</a></h4>
            </td>
            <td>
                <h4>@department.Titre</h4>
                <!-- Renvoit les programmes reliés au département-->
                <h5><b>Les programmes</b></h5>
                <ul>
                    <li><a href="#">Informatique de gestion</a></li>
                    <li><a href="#">Image et électricité</a></li>
                    <li><a href="#">Gestion des ressources</a></li>
                    <li><a href="#">Biotechnologie</a></li>
                </ul>
                <!-- Affiche tous les politiques concernant le département en formaté -->
                <h5><b>Politique du département</b></h5>
                <!-- protège le client pour les attaques -->
                <p><MarkdownView Content="@department.Politique" /></p>
            </td>
            <td valign="top" class="flex-column">
                <button class="btn btn-success">Modifier</button>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public int Id { get; set; }
    public Departements department;

    protected override void OnInitialized()
    {
        department = context.Departements.First(e => e.Id == Id);
    }
}
