<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <PlanC.Client.Pages.Authorization></PlanC.Client.Pages.Authorization>
                </NotAuthorized>
                <Authorizing>
                    <h1>Authorization en cours...</h1>
                    <p>....</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <PlanC.Client.Pages.NotFound></PlanC.Client.Pages.NotFound>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
