@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Bienvenue sur le portail Plan C </h1>
    <p> Vous êtes maintenant sur le nouveau portail pour la création de plan-cadre et plans de cours. </p>
</div>
