/* Based on theme color
---------------------------------------------------------- */
body.ui-indigo .navbar-lab {
    background-color: #292961;
}
body.ui-indigo .navbar-lab .header-content__right-collapse {
    color: #d1d1f0;
}
/* Base for navigation in-boxing
---------------------------------------------------------- */
.navbar-lab {
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-radius: 0;
    font-size: .9em;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
/* Navigation content in-boxing both side
---------------------------------------------------------- */
.navbar-lab .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    padding-left: 0;
}
/* Navigation content on-boxing left side
---------------------------------------------------------- */
.navbar-lab .header-content .header-content__left {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    padding-top: 0;
    overflow: visible;
}
/* Navigation content on-boxing right side
---------------------------------------------------------- */
.navbar-lab .header-content .header-content__right-collapse {
    flex: 0 0 auto;
    border-top: 0;
    padding: 0;
    align-items: center;
}
/* Navigation content on width display rigth side
---------------------------------------------------------- */
.navbar-lab .header-content .header-content__right-collapse:not(.show) {
    display: none;
}
@media(min-width: 576px) {
    .navbar-expand-sm .header-content__right-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
