USE [master]
GO
/****** Object:  Database [PCU001]    Script Date: 2019-10-24 16:42:50 ******/
CREATE DATABASE [PCU001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCU001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PCU001.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCU001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PCU001_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCU001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCU001]
GO
/****** Object:  Table [dbo].[TACTELEM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACTELEM](
	[SKLELEM_SQNBR] [smallint] NOT NULL,
	[SKL_ID] [char](4) NOT NULL,
	[CRS_ID] [nchar](10) NOT NULL,
	[TCHR_UID] [varchar](7) NOT NULL,
	[PLN_VSN_CDTTM] [datetime] NOT NULL,
	[SMSTR_ID] [char](3) NOT NULL,
	[ACTVT_SQNBR] [smallint] NOT NULL,
	[RCD_CDTTM] [datetime] NULL,
	[TRK_UID] [varchar](7) NULL,
 CONSTRAINT [PK_TACTELEM] PRIMARY KEY CLUSTERED 
(
	[SKLELEM_SQNBR] ASC,
	[SKL_ID] ASC,
	[CRS_ID] ASC,
	[TCHR_UID] ASC,
	[PLN_VSN_CDTTM] ASC,
	[SMSTR_ID] ASC,
	[ACTVT_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCD]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCD](
	[CD_TY] [char](2) NOT NULL,
	[CD] [char](2) NOT NULL,
	[CD_DESC] [nchar](10) NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TCD] PRIMARY KEY CLUSTERED 
(
	[CD_TY] ASC,
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCDTY]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCDTY](
	[CD_TY] [char](2) NOT NULL,
	[CD_TY_DESC] [nvarchar](250) NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TCDTY] PRIMARY KEY CLUSTERED 
(
	[CD_TY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCERTEXAM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCERTEXAM](
	[CRS_ID] [nchar](10) NOT NULL,
	[TCHR_UID] [varchar](7) NOT NULL,
	[PLN_VSN_CDTTM] [datetime] NOT NULL,
	[SMSTR_ID] [char](3) NOT NULL,
	[EXAM_ID] [int] NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TCERTEXAM] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[TCHR_UID] ASC,
	[PLN_VSN_CDTTM] ASC,
	[SMSTR_ID] ASC,
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCRSACTVT]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSACTVT](
	[CRS_ID] [nchar](10) NOT NULL,
	[TCHR_UID] [varchar](7) NOT NULL,
	[PLN_VSN_CDTTM] [datetime] NOT NULL,
	[SMSTR_ID] [char](3) NOT NULL,
	[ACTVT_SQNBR] [smallint] NOT NULL,
	[ACTVT_LGNTH] [smallint] NULL,
	[ACTVT_DESC] [ntext] NULL,
	[RCD_CDTTM] [datetime] NULL,
	[TRK_UID] [varchar](7) NULL,
 CONSTRAINT [PK_TCRSACTVT] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[TCHR_UID] ASC,
	[PLN_VSN_CDTTM] ASC,
	[SMSTR_ID] ASC,
	[ACTVT_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCRSMTRL]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSMTRL](
	[CRS_ID] [nchar](10) NOT NULL,
	[TCHR_UID] [varchar](7) NOT NULL,
	[PLN_VSN_CDTTM] [datetime] NOT NULL,
	[SMSTR_ID] [char](3) NOT NULL,
	[CRS_MTRL_SQNBR] [smallint] NOT NULL,
	[CRS_MTRL_DESC] [nvarchar](255) NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TCRSMTRL] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[TCHR_UID] ASC,
	[PLN_VSN_CDTTM] ASC,
	[SMSTR_ID] ASC,
	[CRS_MTRL_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCRSPLN]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSPLN](
	[CRS_ID] [nchar](10) NOT NULL,
	[TCHR_UID] [varchar](7) NOT NULL,
	[PLN_VSN_CDTTM] [datetime] NOT NULL,
	[SMSTR_ID] [char](3) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TCRSPLN] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[TCHR_UID] ASC,
	[PLN_VSN_CDTTM] ASC,
	[SMSTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCRSREQ]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSREQ](
	[CRS_ID] [nchar](10) NOT NULL,
	[VSN_CDTTM] [datetime] NOT NULL,
	[REQ_CRS_ID] [nchar](10) NOT NULL,
	[CRS_REQ_TY_CD] [char](2) NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TCRSREQ] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[VSN_CDTTM] ASC,
	[REQ_CRS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCRSSKLELEM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSSKLELEM](
	[CRS_ID] [nchar](10) NOT NULL,
	[VSN_CDTTM] [datetime] NOT NULL,
	[SKL_ID] [char](4) NOT NULL,
	[SKLELEM_SQNBR] [smallint] NOT NULL,
	[PRTL_SKL_IND] [char](1) NULL,
	[TXNMY_CD] [char](2) NULL,
	[ADDTNL_DESC] [ntext] NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TTMPLTSKLELEM] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[VSN_CDTTM] ASC,
	[SKL_ID] ASC,
	[SKLELEM_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCRSTMPLT]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSTMPLT](
	[CRS_ID] [nchar](10) NOT NULL,
	[VSN_CDTTM] [datetime] NOT NULL,
	[PGM_ID] [char](6) NULL,
	[CRS_TITLE] [nvarchar](50) NULL,
	[UNITS] [decimal](3, 2) NULL,
	[CRS_DESC] [ntext] NULL,
	[CRS_INTENT] [ntext] NULL,
	[DPTMNT_APPRV_DT] [date] NULL,
	[CMTE_APPRV_DT] [date] NULL,
	[BOARD_APPRV_DT] [date] NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TCRSTMPLT] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[VSN_CDTTM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TDPTMNT]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDPTMNT](
	[DPTMNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DPTMNT_TITLE] [nvarchar](250) NULL,
	[DPTMNT_PLCY] [ntext] NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TDPTMNT] PRIMARY KEY CLUSTERED 
(
	[DPTMNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEXAM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXAM](
	[EXAM_ID] [int] NOT NULL,
	[EXAM_TY_CD] [char](2) NULL,
	[EXAM_WGHT] [decimal](5, 2) NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TEXAM] PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEXAMSKLELEM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXAMSKLELEM](
	[EXAM_ID] [int] NOT NULL,
	[SKL_ID] [char](4) NOT NULL,
	[SKLELEM_SQNBR] [smallint] NOT NULL,
	[SKLELEM_WGHT] [decimal](5, 2) NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TEXAMSKLELEM] PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC,
	[SKL_ID] ASC,
	[SKLELEM_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TFNLEXAM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TFNLEXAM](
	[CRS_ID] [nchar](10) NOT NULL,
	[VSN_CDTTM] [datetime] NOT NULL,
	[EXAM_ID] [int] NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TFNLEXAM] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[VSN_CDTTM] ASC,
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPGM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPGM](
	[PGM_ID] [char](6) NOT NULL,
	[DPTMNT_ID] [int] NOT NULL,
	[PGM_TITLE] [nvarchar](50) NULL,
	[PGM_DESC] [ntext] NULL,
	[PGM_TY_CD] [char](2) NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TPGM] PRIMARY KEY CLUSTERED 
(
	[PGM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSKL]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKL](
	[SKL_ID] [char](4) NOT NULL,
	[PGM_ID] [char](6) NULL,
	[SKL_TITLE] [nvarchar](512) NULL,
	[ASSC_ATTD] [ntext] NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TSKL] PRIMARY KEY CLUSTERED 
(
	[SKL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSKLCNTXT]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKLCNTXT](
	[SKL_ID] [char](4) NOT NULL,
	[SKL_CNTXT_SQNBR] [smallint] NOT NULL,
	[SKL_CNTXT_TITLE] [nvarchar](512) NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TSKLCNTXT] PRIMARY KEY CLUSTERED 
(
	[SKL_ID] ASC,
	[SKL_CNTXT_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSKLELEM]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKLELEM](
	[SKL_ID] [char](4) NOT NULL,
	[SKLELEM_SQNBR] [smallint] NOT NULL,
	[SKLELEM_TITLE] [nvarchar](250) NULL,
	[TRK_UID] [varchar](7) NOT NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
 CONSTRAINT [PK_TSKLELEM] PRIMARY KEY CLUSTERED 
(
	[SKL_ID] ASC,
	[SKLELEM_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSKLELEMCRT]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKLELEMCRT](
	[SKL_ID] [char](4) NOT NULL,
	[SKL_ELEM_SQNBR] [smallint] NOT NULL,
	[SKL_ELEM_CRT_SQNBR] [smallint] NOT NULL,
	[SKL_ELEM_CRT_TITLE] [nvarchar](255) NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TSKLELEMCRT] PRIMARY KEY CLUSTERED 
(
	[SKL_ID] ASC,
	[SKL_ELEM_SQNBR] ASC,
	[SKL_ELEM_CRT_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSMSTR]    Script Date: 2019-10-24 16:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSMSTR](
	[SMSTR_ID] [char](3) NOT NULL,
	[SMSTR_DESC] [nvarchar](50) NULL,
	[SMSTR_SDT] [date] NULL,
	[SMSTR_NDT] [date] NULL,
	[RCD_CDTTM] [datetime] NOT NULL,
	[TRK_UID] [varchar](7) NOT NULL,
 CONSTRAINT [PK_TSMSTR] PRIMARY KEY CLUSTERED 
(
	[SMSTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TACTELEM] ADD  CONSTRAINT [DF_TACTELEM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCD] ADD  CONSTRAINT [DF_TCD_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCDTY] ADD  CONSTRAINT [DF_TCDTY_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCERTEXAM] ADD  CONSTRAINT [DF_TCERTEXAM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCRSACTVT] ADD  CONSTRAINT [DF_TCRSACTVT_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCRSMTRL] ADD  CONSTRAINT [DF_TCRSMTRL_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCRSPLN] ADD  CONSTRAINT [DF_TCRSPLN_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCRSREQ] ADD  CONSTRAINT [DF_TCRSREQ_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCRSSKLELEM] ADD  CONSTRAINT [DF_TCRSSKLELEM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TCRSTMPLT] ADD  CONSTRAINT [DF_TCRSTMPLT_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TDPTMNT] ADD  CONSTRAINT [DF_TDPTMNT_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TEXAM] ADD  CONSTRAINT [DF_TEXAM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TEXAMSKLELEM] ADD  CONSTRAINT [DF_TEXAMSKLELEM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TFNLEXAM] ADD  CONSTRAINT [DF_TFNLEXAM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TPGM] ADD  CONSTRAINT [DF_TPGM_RCD_CDTTM_1]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TSKL] ADD  CONSTRAINT [DF_TSKL_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TSKLCNTXT] ADD  CONSTRAINT [DF_TSKLCNTXT_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TSKLELEM] ADD  CONSTRAINT [DF_TSKLELEM_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TSKLELEMCRT] ADD  CONSTRAINT [DF_TSKLELEMCRT_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TSMSTR] ADD  CONSTRAINT [DF_TSMSTR_RCD_CDTTM]  DEFAULT (getdate()) FOR [RCD_CDTTM]
GO
ALTER TABLE [dbo].[TACTELEM]  WITH CHECK ADD  CONSTRAINT [FK_TACTELEM_TCRSACTVT] FOREIGN KEY([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID], [ACTVT_SQNBR])
REFERENCES [dbo].[TCRSACTVT] ([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID], [ACTVT_SQNBR])
GO
ALTER TABLE [dbo].[TACTELEM] CHECK CONSTRAINT [FK_TACTELEM_TCRSACTVT]
GO
ALTER TABLE [dbo].[TACTELEM]  WITH CHECK ADD  CONSTRAINT [FK_TACTELEM_TSKLELEM] FOREIGN KEY([SKL_ID], [SKLELEM_SQNBR])
REFERENCES [dbo].[TSKLELEM] ([SKL_ID], [SKLELEM_SQNBR])
GO
ALTER TABLE [dbo].[TACTELEM] CHECK CONSTRAINT [FK_TACTELEM_TSKLELEM]
GO
ALTER TABLE [dbo].[TCD]  WITH CHECK ADD  CONSTRAINT [FK_TCD_TCDTY] FOREIGN KEY([CD_TY])
REFERENCES [dbo].[TCDTY] ([CD_TY])
GO
ALTER TABLE [dbo].[TCD] CHECK CONSTRAINT [FK_TCD_TCDTY]
GO
ALTER TABLE [dbo].[TCERTEXAM]  WITH CHECK ADD  CONSTRAINT [FK_TCERTEXAM_TCRSPLN] FOREIGN KEY([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID])
REFERENCES [dbo].[TCRSPLN] ([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID])
GO
ALTER TABLE [dbo].[TCERTEXAM] CHECK CONSTRAINT [FK_TCERTEXAM_TCRSPLN]
GO
ALTER TABLE [dbo].[TCERTEXAM]  WITH CHECK ADD  CONSTRAINT [FK_TCERTEXAM_TEXAM] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[TEXAM] ([EXAM_ID])
GO
ALTER TABLE [dbo].[TCERTEXAM] CHECK CONSTRAINT [FK_TCERTEXAM_TEXAM]
GO
ALTER TABLE [dbo].[TCRSACTVT]  WITH CHECK ADD  CONSTRAINT [FK_TCRSACTVT_TCRSPLN] FOREIGN KEY([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID])
REFERENCES [dbo].[TCRSPLN] ([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID])
GO
ALTER TABLE [dbo].[TCRSACTVT] CHECK CONSTRAINT [FK_TCRSACTVT_TCRSPLN]
GO
ALTER TABLE [dbo].[TCRSMTRL]  WITH CHECK ADD  CONSTRAINT [FK_TCRSMTRL_TCRSPLN] FOREIGN KEY([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID])
REFERENCES [dbo].[TCRSPLN] ([CRS_ID], [TCHR_UID], [PLN_VSN_CDTTM], [SMSTR_ID])
GO
ALTER TABLE [dbo].[TCRSMTRL] CHECK CONSTRAINT [FK_TCRSMTRL_TCRSPLN]
GO
ALTER TABLE [dbo].[TCRSPLN]  WITH CHECK ADD  CONSTRAINT [FK_TCRSPLN_TSMSTR] FOREIGN KEY([SMSTR_ID])
REFERENCES [dbo].[TSMSTR] ([SMSTR_ID])
GO
ALTER TABLE [dbo].[TCRSPLN] CHECK CONSTRAINT [FK_TCRSPLN_TSMSTR]
GO
ALTER TABLE [dbo].[TCRSREQ]  WITH CHECK ADD  CONSTRAINT [FK_TCRSREQ_TCRSTMPLT] FOREIGN KEY([CRS_ID], [VSN_CDTTM])
REFERENCES [dbo].[TCRSTMPLT] ([CRS_ID], [VSN_CDTTM])
GO
ALTER TABLE [dbo].[TCRSREQ] CHECK CONSTRAINT [FK_TCRSREQ_TCRSTMPLT]
GO
ALTER TABLE [dbo].[TCRSSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TTMPLTSKLELEM_TCRSTMPLT] FOREIGN KEY([CRS_ID], [VSN_CDTTM])
REFERENCES [dbo].[TCRSTMPLT] ([CRS_ID], [VSN_CDTTM])
GO
ALTER TABLE [dbo].[TCRSSKLELEM] CHECK CONSTRAINT [FK_TTMPLTSKLELEM_TCRSTMPLT]
GO
ALTER TABLE [dbo].[TCRSSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TTMPLTSKLELEM_TSKLELEM] FOREIGN KEY([SKL_ID], [SKLELEM_SQNBR])
REFERENCES [dbo].[TSKLELEM] ([SKL_ID], [SKLELEM_SQNBR])
GO
ALTER TABLE [dbo].[TCRSSKLELEM] CHECK CONSTRAINT [FK_TTMPLTSKLELEM_TSKLELEM]
GO
ALTER TABLE [dbo].[TCRSTMPLT]  WITH CHECK ADD  CONSTRAINT [FK_TCRSTMPLT_TPGM] FOREIGN KEY([PGM_ID])
REFERENCES [dbo].[TPGM] ([PGM_ID])
GO
ALTER TABLE [dbo].[TCRSTMPLT] CHECK CONSTRAINT [FK_TCRSTMPLT_TPGM]
GO
ALTER TABLE [dbo].[TEXAMSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TEXAMSKLELEM_TEXAM] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[TEXAM] ([EXAM_ID])
GO
ALTER TABLE [dbo].[TEXAMSKLELEM] CHECK CONSTRAINT [FK_TEXAMSKLELEM_TEXAM]
GO
ALTER TABLE [dbo].[TEXAMSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TEXAMSKLELEM_TSKLELEM] FOREIGN KEY([SKL_ID], [SKLELEM_SQNBR])
REFERENCES [dbo].[TSKLELEM] ([SKL_ID], [SKLELEM_SQNBR])
GO
ALTER TABLE [dbo].[TEXAMSKLELEM] CHECK CONSTRAINT [FK_TEXAMSKLELEM_TSKLELEM]
GO
ALTER TABLE [dbo].[TFNLEXAM]  WITH CHECK ADD  CONSTRAINT [FK_TFNLEXAM_TCRSTMPLT] FOREIGN KEY([CRS_ID], [VSN_CDTTM])
REFERENCES [dbo].[TCRSTMPLT] ([CRS_ID], [VSN_CDTTM])
GO
ALTER TABLE [dbo].[TFNLEXAM] CHECK CONSTRAINT [FK_TFNLEXAM_TCRSTMPLT]
GO
ALTER TABLE [dbo].[TFNLEXAM]  WITH CHECK ADD  CONSTRAINT [FK_TFNLEXAM_TEXAM] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[TEXAM] ([EXAM_ID])
GO
ALTER TABLE [dbo].[TFNLEXAM] CHECK CONSTRAINT [FK_TFNLEXAM_TEXAM]
GO
ALTER TABLE [dbo].[TPGM]  WITH CHECK ADD  CONSTRAINT [FK_TPGM_TDPTMNT] FOREIGN KEY([DPTMNT_ID])
REFERENCES [dbo].[TDPTMNT] ([DPTMNT_ID])
GO
ALTER TABLE [dbo].[TPGM] CHECK CONSTRAINT [FK_TPGM_TDPTMNT]
GO
ALTER TABLE [dbo].[TSKL]  WITH CHECK ADD  CONSTRAINT [FK_TSKL_TPGM] FOREIGN KEY([PGM_ID])
REFERENCES [dbo].[TPGM] ([PGM_ID])
GO
ALTER TABLE [dbo].[TSKL] CHECK CONSTRAINT [FK_TSKL_TPGM]
GO
ALTER TABLE [dbo].[TSKLCNTXT]  WITH CHECK ADD  CONSTRAINT [FK_TSKLCNTXT_TSKL] FOREIGN KEY([SKL_ID])
REFERENCES [dbo].[TSKL] ([SKL_ID])
GO
ALTER TABLE [dbo].[TSKLCNTXT] CHECK CONSTRAINT [FK_TSKLCNTXT_TSKL]
GO
ALTER TABLE [dbo].[TSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TSKLELEM_TSKL] FOREIGN KEY([SKL_ID])
REFERENCES [dbo].[TSKL] ([SKL_ID])
GO
ALTER TABLE [dbo].[TSKLELEM] CHECK CONSTRAINT [FK_TSKLELEM_TSKL]
GO
ALTER TABLE [dbo].[TSKLELEMCRT]  WITH CHECK ADD  CONSTRAINT [FK_TSKLELEMCRT_TSKLELEM] FOREIGN KEY([SKL_ID], [SKL_ELEM_SQNBR])
REFERENCES [dbo].[TSKLELEM] ([SKL_ID], [SKLELEM_SQNBR])
GO
ALTER TABLE [dbo].[TSKLELEMCRT] CHECK CONSTRAINT [FK_TSKLELEMCRT_TSKLELEM]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TACTELEM', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Association activité -- élément de compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TACTELEM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCERTEXAM', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Examen certificatif' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCERTEXAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSACTVT', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de semaines consacrées à cette activité' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSACTVT', @level2type=N'COLUMN',@level2name=N'ACTVT_LGNTH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Calendrier des activités' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSACTVT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSMTRL', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Matériel requis' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSMTRL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSPLN', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Plan de cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSPLN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSREQ', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Prérequis; corequis' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSREQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSSKLELEM', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Niveau taxonomique' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSSKLELEM', @level2type=N'COLUMN',@level2name=N'TXNMY_CD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Association plan-cadre -- élément de compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSSKLELEM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSTMPLT', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Plan-cadre' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TCRSTMPLT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Département' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TDPTMNT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Entité de base pour un examen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TEXAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Association examen -- élément de compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TEXAMSKLELEM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Code d''identification d''un cours' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TFNLEXAM', @level2type=N'COLUMN',@level2name=N'CRS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Examen certificatif final' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TFNLEXAM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Programme d''études' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TPGM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TSKL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contextes de réalisation associés à une compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TSKLCNTXT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Élément de compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TSKLELEM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Critère de performance d''un élément de compétence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TSKLELEMCRT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Session' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TSMSTR'
GO
USE [master]
GO
