@page "/plancours"
@attribute [Authorize]
@using PlanC.Client.Data
@inject PCU001Context context
@using System.Linq
@inject NavigationManager _NavigationManager
@inject IJSRuntime Js
@using Syncfusion.EJ2.Blazor.Grids
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using PlanC.Client
@using PlanC.EntityDataModel
@using Syncfusion.EJ2.Blazor.Navigations
@using PlanC.DocumentGeneration.CourseTemplate
@using PlanC.DocumentGeneration.CoursePlan
@using PlanC.DocumentGeneration.Common
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Buttons
@using System.Collections.Generic;
@using System.Collections.ObjectModel;
@using System.IO
@using Microsoft.EntityFrameworkCore

<!--section sécurité doit être seulement coordonateur du programme et la consultation par le professeur-->
<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- Donne accès au portail selon le role de l'utilisateur -->
                <li class="breadcrumb-item"><a href="/"> Portail </a></li>
                <li style="padding: 0 4px;"><i class="fas fa-home" style="font-size: 15px; color: #3f51b5;"></i></li>
                <li class="breadcrumb-item active" aria-current="page"> Visualisation des <bold>plans de cours</bold> </li>
            </ol>
        </nav>
    </div>
</div>


<div class="container row p-5">
    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Téléchargement des plans de cours </h6>
            </div>
            <div class="card-body">
                En sélectionnant le plan de cours, un menu déroulant s'affichera et vous pourriez alors sélectionner sauvegarder en tant que word. Au clique, le téléchargement débutera, merci de patienter lors du téléchargement.
            </div>
        </div>
    </div>
</div>

<div class="container shadow p-5">
    <div class="row">
        <div class="col-12">
            <h3>Liste des plans de cours:</h3>
        </div>
        <div class="col-12">
            <a href="/plancours/create">Nouveau <bold>plan de cours</bold></a>
            <br />
            @if (PlansCours != null)
            {
                <EjsGrid @ref="grid" DataSource="@PlansCours" AllowSorting="true" AllowPaging="true" AllowExcelExport="true"
                         ContextMenuItems="@(new List<ContextMenuItemModel>() {
                                                 new ContextMenuItemModel { Text = "Ouvrir plan cours", Target = ".e-content", Id = "open" },
                                                 new ContextMenuItemModel { Text = "Supprimer", Target = ".e-content", Id = "delete" },
                                                 new ContextMenuItemModel { Text = "Sauvegarder en tant que word", Target = ".e-content", Id = "word" }
                                             })">
                    <GridEditSettings AllowAdding="true" AllowDeleting="true"></GridEditSettings>
                    <GridPageSettings PageSize="8"></GridPageSettings>
                    <!-- Les événements se passant sur la table et les paramètre -->
                    <GridEvents ContextMenuItemClicked="OnContextMenuClick" RowSelected="RowSelectHandler" RowDeselected="() => Selected = null" TValue="PlansCours"></GridEvents>
                    <GridColumns>
                        <GridColumn IsPrimaryKey="true" Field=@nameof(Selected.CoursId) HeaderText="Identifiant du cours"></GridColumn>
                        <GridColumn Field=@nameof(Selected.CoursePolicy) HeaderText="Programme"></GridColumn>
                        <GridColumn Field=@nameof(Selected.RcdCdttm) HeaderText="Date du dernier enregistrement" Format="yMd" Type=ColumnType.Date></GridColumn>
                        <GridColumn Field=@nameof(Selected.PlnVsnCdttm) HeaderText="Dernier enregistrement"></GridColumn>
                        <GridColumn Field=@nameof(Selected.RcdCdttmString) HeaderText="Date approuvé"></GridColumn>
                    </GridColumns>
                    <Syncfusion.EJ2.Blazor.Grids.GridTextWrapSettings WrapMode="WrapMode.Content"></Syncfusion.EJ2.Blazor.Grids.GridTextWrapSettings>
                </EjsGrid>
            }
            else if (loadFailed)
            {
                <a href="" class="reload">Recharger la page</a>
            }
            else
            {
                <h1>En chargement...</h1>
            }
        </div>
    </div>
</div>
<div class="col-12 text-center">
    <span class="smallerFontSize">La page ne répond pas? <a href="/planscadres" onclick="window.location.reload()" class="reload">Rafraîchir la page.</a></span>
</div>

@code {
    public List<PlanC.EntityDataModel.PlansCours> PlansCours { get; set; }
    public PlansCours Selected { get; set; }
    //safe check si la list à eu une erreur pour demander à l'usager de reload
    private bool loadFailed;
    EjsGrid<PlansCours> grid;

    protected override void OnInitialized()
    {
        try
        {
            // initialisation de la liste
            // si une exception est levé, nous lui affichons une message d'erreur
            // et nous luis demandons de rafraîchir la page
            loadFailed = false;
            PlansCours = context.PlansCours.ToList();
        }
        catch (Exception ex)
        {
            loadFailed = true;
            Console.WriteLine("Failed to load {context}, {ex}", context, ex);
        }
    }

    public void RowSelectHandler(RowSelectEventArgs<PlansCours> args)
    {
        // au click le plan de cours selectionné est passé à la page afin de pouvoir
        // performer des action sur ce dernier
        Selected = PlansCours.FirstOrDefault(e => e.CoursId == args.Data.CoursId);
    }

    public void OnContextMenuClick(MenuEventArgs args)
    {
        if (args.Item.Id == "open")
        {
            // envoit l'usager vers l'édition du plan de cours passé en paramètre
            _NavigationManager.NavigateTo($"/plancours/{Selected.CoursId}/create");
        }
        else if (args.Item.Id == "delete")
        {
            PlansCours.Remove(Selected);
            context.PlansCours.Remove(Selected);
            grid.Refresh();
            SaveProgress();
        }
        else
        {
            // empêche les erreurs pas rapport à la transaction
            if (Selected == null)
                return;
            // load les références des entitées que le plan de cours est constitué
            context.Entry(Selected).Collection(d => d.CoursActivite).Load();

            foreach (CoursActivite ca in Selected.CoursActivite)
            {
                context.Entry(ca)
                        .Collection(ca => ca.CoursCompetenceElements)
                        .Load();

                foreach (CoursCompetenceElements cce in ca.CoursCompetenceElements)
                {
                    context.Entry(cce)
                            .Reference(cce => cce.IdentityCritereElementCompetenceNavigation)
                            .Load();
                }
            }
            context.Entry(Selected).Collection(d => d.ExamensCertificatifsNonsFinals).Load();

            foreach (ExamensCertificatifsNonsFinals exam in Selected.ExamensCertificatifsNonsFinals)
            {
                context.Entry(exam)
                        .Reference(exam => exam.Examen)
                        .Load();
            }

            context.Entry(Selected).Collection(d => d.MaterielsCours).Load();
            context.Entry(Selected).Reference(d => d.Session).Load();

            // loadong la référence de l'utilisateur lequel à créer le plans de cadre
            // n'a pas d'autre option que word donc ici nous créons le template
            AspNetUsers teacher = context.AspNetUsers.Include(t => t.DisponibilitesUtilisateur).FirstOrDefault(d => d.UserName == Selected.TchrUid);
            // ramene le dernier plan de cadre créer lié au cours donné

            PlansCadres coursTemplate = context.PlansCadres.Where(e => e.CoursId.Trim() == Selected.CoursId.Trim())
                                                            .OrderByDescending(t => t.VsnCdttm)
                                                            .FirstOrDefault();

            context.Entry(coursTemplate)
                    .Collection(t => t.ExamensFinalsCertificatifs)
                    .Load();

            foreach(ExamensFinalsCertificatifs fex in coursTemplate.ExamensFinalsCertificatifs)
            {
                context.Entry(fex)
                        .Reference(fex => fex.Examen)
                        .Load();

                context.Entry(fex.Examen)
                        .Collection(ex => ex.ExamensElementsCompetences)
                        .Load();

                foreach(ExamensElementsCompetences exse in fex.Examen.ExamensElementsCompetences)
                {
                    context.Entry(exse)
                            .Reference(exse => exse.ElementCompetence)
                            .Load();
                }
            }

            // ramene le programme nominé pour le plan cadre
            Programmes programmeTemplate = context.Programmes.FirstOrDefault(v => v.Id == coursTemplate.ProgrammeId);

            // annule la transaction si une des conditions donnent vrai
            //if (teacher == null || coursTemplate == null || programmeTemplate == null)
            //    return;

            // Prerequis faire la liste des compétences pour donner à la propriété
            List<PlanCadreCompetenceElements> tempTemplateElements = null;
            if (coursTemplate != null)
                tempTemplateElements = context.PlanCadreCompetenceElements.Include(e => e.ElementCompetence)
                    .ThenInclude(d => d.IdentityKeyCompetencesNavigation)
                    .Include(v => v.PlansCadres)
                    .Where(t => t.CoursId.Trim() == coursTemplate.CoursId.Trim()).ToList();

            if (tempTemplateElements == null)
                return;

            // First sKILL has competence
            System.Collections.ObjectModel.Collection<Skill> Skills = new System.Collections.ObjectModel.Collection<Skill>();
            // tous les compétences reliés avec le plancadre
            List<Competences> competences = new List<Competences>();

            /// FAIRE LA SKILL LISTE
            ///
            // cycle sur les critere element competence
            foreach (var elementsCompetenceTemplate in tempTemplateElements)
            {
                Competences comp = elementsCompetenceTemplate.ElementCompetence.IdentityKeyCompetencesNavigation;
                // composant d'une compétence
                if (!competences.Contains(comp))
                {
                    competences.Add(comp);
                    Skills.Add(new Skill() { Title = competences.Last().Enonce });
                }

                // trouve le skill et ajoute à celui ci le skill element trouvé
                var _skill = Skills.First(e => e.Title == comp.Enonce);

                if (_skill == null)
                {
                    Console.WriteLine($"Didn't not find {comp.Enonce}");
                }
                else
                {
                    // ajoute au skill trouvé l'élément dans la compétence relié dans laquelle nous nous trouvons
                    _skill.SkillElements.Add(new SkillElement()
                    {
                        Title = elementsCompetenceTemplate.ElementCompetence.Description,
                        Criterias = new System.Collections.ObjectModel.Collection<string>(elementsCompetenceTemplate.ElementCompetence.GetCritereListString),
                        ContentPrecisions = new Collection<string>() { elementsCompetenceTemplate.LongDescription}
                    });

                    // acquired all context has string
                    _skill.AchievementContexts = new System.Collections.ObjectModel.Collection<string>(comp.GetContextListString);
                }
            }

            int CurrentWeek = 1;
            Collection<ActivityCalendarPeriodEntry> Calendar = new Collection<ActivityCalendarPeriodEntry>();
            foreach(CoursActivite ca in Selected.CoursActivite)
            {
                Calendar.Add(new ActivityCalendarPeriodEntry()
                {
                    PeriodLabel = ca.ActvtLgnth == 1 ? $"{CurrentWeek}" : $"{CurrentWeek} - {CurrentWeek + ca.ActvtLgnth - 1}",
                    SkillElements = new Collection<string>(ca.CoursCompetenceElements.Select(cce => cce.IdentityCritereElementCompetenceNavigation.DescriptionCritere).ToList()),
                    Content = ca.ActvtDesc.Split(System.Environment.NewLine)
                });

                CurrentWeek += ca.ActvtLgnth.GetValueOrDefault();
            }

            Collection<Exam> exams = new Collection<Exam>();

            foreach(Examens exam in Selected.ExamensCertificatifsNonsFinals.Select(ex => ex.Examen))
            {
                exams.Add(new Exam()
                {
                    Title = exam.Qualification,
                    Weight = exam.PoidExamen
                });
            }

            foreach(Examens exam in coursTemplate.ExamensFinalsCertificatifs.Select(fex => fex.Examen))
            {
                Collection<PlanC.DocumentGeneration.Common.FinalExamCriteria> crits = new Collection<PlanC.DocumentGeneration.Common.FinalExamCriteria>();
                foreach(ExamensElementsCompetences exse in exam.ExamensElementsCompetences)
                {
                    crits.Add(new DocumentGeneration.Common.FinalExamCriteria()
                    {
                        SkillElementId = exse.ElementCompetenceId == null? "0000" : exse.ElementCompetenceId,
                        Description = exse.ElementCompetence == null? "Non précisé" : exse.ElementCompetence.Description,
                        Weight = exse.PoidElement
                    });
                }

                exams.Add(new FinalExam()
                {
                    Title = exam.Qualification,
                    Weight = exam.PoidExamen,
                    Criterias = crits
                });
            }


            // fin à la construction la skills listes XD

            // début de la création du plan cadre les entités liés sont loader dans la page
            // création de la template pour créer le plan de cours
            var coursePlan = new PlanC.DocumentGeneration.CoursePlan.CoursePlan
            {
                CourseId = Selected.CoursId,
                CourseTitle = coursTemplate.DenominationCours,
                StudyProgram = programmeTemplate.Designation,
                TimeDistribution = new TimeDistribution(coursTemplate.TheoryHoursAccessor, coursTemplate.PracticeHoursAccessor, coursTemplate.HomeHoursAccessor),
                Session = Selected.Session.Titre,
                Campus = teacher == null?  teacher.Campus : $"Gabrielle-Roy",
                Teacher = new PlanC.DocumentGeneration.CoursePlan.Teacher
                {
                    Name = teacher.Snm + " " + teacher.GvnNm,
                    EmailAddress = teacher.Email,
                    PhoneNumber = "819-770-1234 poste " + teacher.PhoneNumber,
                    Office = teacher._Office,
                    Availabilities = teacher._DisponibilitesUtilisateur
                },
                Group = Selected._Group,
                Introduction = new[]
                {
                            coursTemplate.Description
                        },
                PedagogicalIntents = new[]
                {
                            coursTemplate.IntentionEducative
                        },
                Skills = Skills,
                ActivityPeriodEntries = Calendar,
                Exams = exams,
                RequiredMaterial = Selected._MaterielsCours
            };
            // start le stream pour envoyer au client et le tour devrait être joué!
            using (var stream = new MemoryStream())
            {
                using (var document = PlanC.DocumentGeneration.CoursePlan.DocumentFactory.Create(stream))
                {
                    var editor = new PlanC.DocumentGeneration.CoursePlan.DocumentEditor(document);
                    editor.Model = coursePlan;
                    editor.ApplyChanges();
                }
                Js.SaveAs("Planscours-" + DateTime.Now.ToString() + ".docx", stream.ToArray());
            }
        }
    }

    public void SaveProgress()
    {
        try
        {
            context.SaveChanges();
        }
        catch (Exception except)
        {
            Console.WriteLine($"Plan cadre liste error: {except.Message}");
        }
    }
}

