@model PlanC.Web.Models.PlanCadre

@{
    ViewData["Title"] = "PlansCadres";
}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4>Entrez les éléments descriptifs de ce cours</h4>
        <hr />
        <form asp-action="PlansCadres">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titre_cours" class="control-label"></label>
                <input asp-for="titre_cours" class="form-control" />
                <span asp-validation-for="titre_cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="code_cours" class="control-label"></label>
                <input asp-for="code_cours" class="form-control" />
                <span asp-validation-for="code_cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nb_unite" class="control-label"></label>
                <input asp-for="nb_unite" class="form-control" />
                <span asp-validation-for="nb_unite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ponderation_cours" class="control-label"></label>
                <input asp-for="ponderation_cours" class="form-control" />
                <span asp-validation-for="ponderation_cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_adoption_plan_cadre" class="control-label"></label>
                <input asp-for="date_adoption_plan_cadre" class="form-control" />
                <span asp-validation-for="date_adoption_plan_cadre" class="text-danger"><!--à faire plus tard dans le processus... --></span>
            </div>
            <div class="form-group">
                <label asp-for="intention_educatives_cours" class="control-label"></label>
                <textarea asp-for="intention_educatives_cours" class="form-control" rows="5"></textarea>
                <span asp-validation-for="intention_educatives_cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description_cours" class="control-label"></label>
                <textarea asp-for="description_cours" class="form-control" rows="5"></textarea>
                <span asp-validation-for="description_cours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
