@using PlanC.Models.Assets
@model PlanC.Models.Assets.MenuItemDataTemplate
@addTagHelper *, PlanC

@{
    bool isTopLevel = ViewBag.isTopLevel;
    string itemclass = (isTopLevel) ? "nav-item" : "dropdown-item";    
}

<li class="@itemclass dropdown">
    <a class="bd-toc-link dropdown-toggle" href="@Model.Url" id="navbarDropdownMenuLink" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Title
    </a>
    <div class="dropdown-menu side-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @foreach (var _item in Model.Children)
        {
            @(await Component.InvokeAsync("NavigationBar", new { item = _item }))
        }
    </div>
</li>