@using PlanC.Models.Assets
@model IEnumerable<PlanC.Models.Assets.MenuItemDataTemplate>
@addTagHelper *, PlanC


<nav class="bd-collapse bd-links">
    <ul class="nav bd-sidenav">
        @foreach (MenuItemDataTemplate _item in Model)
        {
            @(await Component.InvokeAsync("NavigationBar", new { item = _item, isTopLevel = true }))
        }
    </ul>
</nav>