@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
    var identity = User.Identity as ClaimsIdentity; // Azure AD V2 endpoint specific
    string preferred_username = identity.Name;
    if (string.IsNullOrEmpty(preferred_username)) { 
        preferred_username = identity.Claims.FirstOrDefault(c => c.Value.Contains("name"))?.Value;
    }
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="img-profile rounded-circle" src="~/images/avatars/girl-1.svg">
        </a>
        <!-- Dropdown - Options pour l'utilisateur -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                @preferred_username
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-file fa-sm fa-fw mr-2"></i>
                Mes documents
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-info fa-sm fa-fw mr-2"></i>
                Aide
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <i class="fas fa-comment fa-sm fa-fw mr-2"></i>
                Commentaire
            </a>
        </div>
    </li>

    <!-- Nav Item - Déconnexion de l'utilisateur -->
    <li class="nav-item dropdown">
        <a class="theme-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="theme-circle-button theme-logout fas fa-power-off"></i>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="SignIn">S'authentifier</a>
    </li>
}