@using Microsoft.AspNetCore.Identity
@using PlanC.EntityDataModel
@inject SignInManager<AspNetUsers> SignInManager
@inject UserManager<AspNetUsers> UserManager
@inject RoleManager<AspNetUsers> RoleManager

@if (SignInManager.IsSignedIn(User))
{
    <!-- Sidebar -->
    @*<ul class="navbar-nav sidebar sidebar-dark accordion toggled" id="accordionSidebar">*@
    <div><ul class="navbar-nav sidebar sidebar-dark accordion toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/profil/configuration">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="far fa-address-card"></i>
            </div>
            <div class="sidebar-brand-text mx-3"> Profil </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-archway"></i>
                <span> Accueil </span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        
        <!-- Heading -->
        <a class="sidebar-heading" href="/admin"> Administration </a>

        <!-- Nav Item - Section départements -->
        <li class="nav-item">
            <a class="nav-link" href="/departements">
                <i class="far fa-file-alt"></i>
                <span> Les départements </span>
            </a>
        </li>

        <!-- Nav Item - Section départements -->
        <li class="nav-item">
            <a class="nav-link" href="/programmes">
                <i class="far fa-file-alt"></i>
                <span> Les programmes d'étude </span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <a class="sidebar-heading" href="/portail"> Personnel enseignant </a>

        <!-- Nav Item - Afffiche tous les documents respectant les criltères -->
        <li class="nav-item">
            <a class="nav-link" href="/documents">
                <i class="far fa-file-alt"></i>
                <span> Tout les documents </span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    </div>
    <!-- End of Sidebar -->
}