@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">
    <!-- Sidebar Toggle (Topbar) -->    
    <span id="sidebarToggleSide" style="display:none" data-toggle="collapse" data-target="#accordionSidebar" onclick="toggleSidebarToggleSide()">
        <i class="fa fa-angle-double-right motion-press" aria-hidden="true"></i>
    </span>
    <partial name="../Pages/Shared/_LoginPartial.cshtml" />
</nav>
