@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <partial name="../Pages/Shared/_LoginPartial.cshtml" />
</nav>
