<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

<<<<<<< HEAD
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">
    <!-- Sidebar Toggle (Topbar) -->    
    <span id="sidebarToggleSide" style="display:none" data-toggle="collapse" data-target="#accordionSidebar" onclick="toggleSidebarToggleSide()">
        <i class="fa fa-angle-double-right motion-press" aria-hidden="true"></i>
    </span>
    <partial name="../Pages/Shared/_LoginPartial.cshtml" />
=======
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input name="searchbar" id="autocomplete" type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Menu pour rechercher -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Centre de notifications -->
        <!-- Nav Item - Profil de l'utilisateur -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="~/images/avatars/girl-1.svg">
            </a>
            <!-- Dropdown - Options pour l'utilisateur -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                    Mon profil
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-file fa-sm fa-fw mr-2"></i>
                    Mes documents
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-info fa-sm fa-fw mr-2"></i>
                    Aide
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-comment fa-sm fa-fw mr-2"></i>
                    Commentaire
                </a>
            </div>
        </li>

        <!-- Nav Item - Déconnexion de l'utilisateur -->
        <li class="nav-item dropdown">
            <a class="theme-link" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="theme-circle-button theme-logout fas fa-power-off"></i>
            </a>
        </li>

    </ul>
>>>>>>> e6351150fbe926ea9dd68824e6c58e0603ec91b9
</nav>
