<!-- STEP 3: création des éléments de compétence -->

<EditForm Model="competence" id="elementForm" class="row">
    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="text-danger col-12" style="display:flex; flex-wrap: wrap;">
            <div class="alert alert-danger" style="width:100%;">@Message</div>
        </div>
    }
    @foreach (var context in competence.ElementsCompetence)
    {
        <div class="col-sm-12 mb-3">
            <div class="input-group">
                <input type="text" class="form-control" @bind="context.Libele" placeholder="Un contexte de réalisation" aria-label="Contexte de réalisation deux bouttons" aria-describedby="button-addon-context-@(competence.ElementsCompetence.IndexOf(context)+1)" />
                <div class="input-group-append" id="button-addon-context-@(competence.ElementsCompetence.IndexOf(context)+1)">
                    <button class="btn btn-outline-secondary" @onclick="@(() => RemoveElement(context.ElementCompetenceSqnbr))" type="button"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
    }
    <div class="col-sm-12 row justify-content-center">
        <div class="col-sm-4" style="font-weight: 400;">
            <div class="input-group">
                <label> Nouvel élément: </label>
                @if (!string.IsNullOrEmpty(newMessage))
                {
                    <div class="text-danger col-12" style="display:flex; flex-wrap: wrap;">
                        <div class="alert alert-danger" style="width:100%;">@newMessage</div>
                    </div>
                }
                <input type="text" class="form-control" @bind="newLibele" placeholder="Un contexte de réalisation" />
                <button class="btn btn-success w-100" @onclick="@(() => AddElement())">Ajouter un contexte <i class="fas fa-plus-circle ml-3" style="vertical-align: middle;"></i></button>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-end">
        <!-- appelle fonction javascript permettant d'ajouter le .wasvalidated sur la division du formulaire -->
        <!-- suite au poste validate nous envoyons l'utilisateur vers la deuxième partie celle de remplire les contextes et les éléments de compétence-->
        <button @onclick="SubmitElements" class="btn btn-primary">Suivant</button>
    </div>
</EditForm>


@code {
    // recoit en cascade l'instance du context
    [CascadingParameter]
    protected PCU001Context context { get; set; }
    [CascadingParameter]
    protected Competences competence { get; set; }

    // settings on new step trigger
    [Parameter]
    public EventCallback NextStepTrigger { get; set; }

    // appuit la création des nouvel éléments de compétence
    protected ElementsCompetence currentElement = new ElementsCompetence();
    protected string newLibele;
    string elementsMessage;


    private async void SubmitElements()
    {
        if (competence.ElementsCompetence.First().Libele == "")
        {
            elementsMessage = "Veuillez au minimum un élément de compétence.";
        }
        else
        {
            elementsMessage = "";
            try
            {
                Console.WriteLine($"SQL return code: {await context.SaveChangesAsync()}");
                await NextStepTrigger.InvokeAsync(EventCallback.Empty);
            }
            catch
            {
            }
        }

    }

    public string Message { get; set; }
    public string newMessage { get; set; }

    // supprime le context donné en paramètre
    async void RemoveElement(int id)
    {
        var list = competence.ElementsCompetence;
        list.Remove(list.First(e => e.ElementCompetenceSqnbr == id));
        Console.WriteLine($"SQL return code: {await context.SaveChangesAsync()}");
        StateHasChanged();
    }


    // ajoute un context pour la compétence donnée
    async void AddElement()
    {
        if (string.IsNullOrWhiteSpace(newLibele))
        {
            newMessage = "S'il vous plait inscrire le titre.";
        }
        else
        {
            newMessage = "";
            competence.ElementsCompetence.Add(new ElementsCompetence() { Libele = newLibele });
            Console.WriteLine($"SQL return code: {await context.SaveChangesAsync()}");
            newLibele = "";
            StateHasChanged();
        }
    }
}