@page
@namespace PlanC.Web.Client.Areas.Programme.Pages

@model IndexModel
@{
    // page listant tous les programmes possibles selon les droits
    // une personne connecté pourra modifier la liste et les items
}

<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- Donne accès au portail selon le role de l'utilisateur -->
                <li class="breadcrumb-item"><a href="~/Admin"> Portail </a></li>
                <li style="padding: 0 4px;"><i class="fas fa-home" style="font-size: 15px; color: #3f51b5;"></i></li>
                <li class="breadcrumb-item"><i class="fas fa-circle" style="font-size: 5px; vertical-align: middle; padding-right: 2px;"></i></li>
                <li class="breadcrumb-item active" aria-current="page"> Programmes </li>
            </ol>
        </nav>
    </div>
    <!-- Message distiné pour le groupe d'administration -->
    <div class="col-12">
        <div class="alert alert-light show shadow" role="alert">
            <div class="alert-icon text-warning">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="alert-text">
                Veuillez vérifier que tous les plans cadres pour les programmes d'informatique soit à jour pour le 15 novembre.
            </div>
        </div>
    </div>
</div>

<div id="loaderDepart" class="row" style="display: none;">
    <div class="col-12 text-center">
        <img src="~/lib/loader/puff-light.svg" height="350" alt="">
    </div>
</div>

<!-- Container pour blazor component -->
<div class="row justify-content-center">
    <!-- Render le componenet app qui fait en sorte que la directive .page fonctionne -->
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</div>

@section Styles {
    <link href="https://cdn.syncfusion.com/ej2/17.3.26/ej2-buttons/styles/material.css" rel="stylesheet" />
    <script>
        window.modelInitializing = () => {
            $("#loaderDepart").show();
        };
        window.modelLoaded = (symbol, price) => {
            $("#loaderDepart").hide();
        };
    </script>
}