@*le mot clé définissant la page n'est pas sensible la case*@
@page "/admin"
@namespace PlanC.Client.Pages

<div class="row m-3">
    <div class="col-sm-6 pt-sm-3">
        <a href="/programmes" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Programmes
        </a>
    </div>
    <div class="col-sm-6 pt-sm-3">
        <a href="/planscadres" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Plans-cadres
        </a>
    </div>
<<<<<<< HEAD
    <div class="col-sm-6 pt-3">
        <a href="/plancadre/create" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Nouveau plan-cadre
        </a>
    </div>
    <div class="col-sm-6 pt-3">
=======
    <div class="col-sm-6">
>>>>>>> e6351150fbe926ea9dd68824e6c58e0603ec91b9
        <a href="/planscours" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Plans de cours
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/competences" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Gestion des compétences
        </a>
    </div>
<<<<<<< HEAD
    <div class="col-sm-6 pt-3">
        <a href="/admin/roles" class="card d-flex justify-content-center text-center" style="height: 50px;">
=======
    <div class="col-sm-6">
        <a href="/Roles" class="card d-flex justify-content-center text-center" style="height: 50px;">
>>>>>>> e6351150fbe926ea9dd68824e6c58e0603ec91b9
            Gestion des rôles
        </a>
    </div>
</div>
<hr />
<<<<<<< HEAD
<div class="col-12 text-center">
    <span class="smallerFontSize">La page ne répond pas? <a href="/admin" onclick="window.location.reload()" class="reload">Rafraîchir la page.</a></span>
</div>
=======
>>>>>>> e6351150fbe926ea9dd68824e6c58e0603ec91b9
