@*le mot clé définissant la page n'est pas sensible la case*@
@page "/admin"
@namespace PlanC.Client.Pages
@attribute [Authorize]

<div class="row m-3">
    <div class="col-sm-6">
        <a href="/programmes" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Programmes
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/planscadres" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Plans-cadres
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/planscours" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Plans de cours
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/competences" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Gestion des compétences
        </a>
    </div>
    <div class="col-sm-6">
        <a href="/Roles" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Gestion des rôles
        </a>
    </div>
</div>
<hr />
