@page "/portail"
@using Microsoft.AspNetCore.Identity
@inject UserManager<Utilisateurs> UserManager
@attribute [Authorize]
@namespace PlanC.Client.Pages
@inject PCU001Context context

<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col-lg-8">
        <!-- Titre de la page -->
        <h1 class="h3 mb-1 text-gray-800 mb-3"> Portail du personnel </h1>
        <p>
            Tout ce dont vous avez besoin afin de créer des plans de cours à une vitesse éclaire!
            <div class="d-flex flex-row card-area">
                <div class="d-flex flex-row">
                    <a href="/planscadres/creation"> Créer un plans-cadres </a>
                    <a href="/documents"> Voir tout les documents </a>
                </div>
            </div>
        </p>
    </div>
    <div class="col-lg-4">
        <!-- Message distiné pour le groupe d'administration -->
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger"> Important </h6>
            </div>
            <div class="card-body">
                Vous devez avoir la dernière version de votre plan de cours pour le 26 septembre.
            </div>
        </div>
    </div>
</div>

<!-- Document en cours de production -->
<div class="in-card shadow mb-4">
    <div class="card-body">
        <!-- Séparateur -->
        <!-- Titre pour fragment pour les documents en production -->
        <h6 class="font-weight-bold"> Les plans-cadres en production... </h6>
        <!-- Conteneur pour les plans cadres en production -->
        <div class="row">
            @foreach (var plancadre in context.PlansCadres)
            {
                <!--pour tous les documents -->
                <div class="col-1" style="margin-bottom: 20px;">
                    <div class="card-form document-shadow" style="display: flex; flex-direction: column">
                        <h4>@plancadre.CoursId</h4>
                        <a class="text-success">@plancadre.DenominationCours</a>
                        <a style="position:absolute; bottom: 10px;" href="/plancadre/@plancadre.CoursId/create">document</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Document mis en favoris -->
<div class="in-card shadow mb-4">
    <div class="card-body">
        <!-- Séparateur -->
        <p>
            <!-- Titre pour les documents en favoris -->
            <h6 class="m-0 font-weight-bold"> Les documents en favoris </h6>
        </p>
        <!-- Conteneur pour les documents en favoris -->
        <div class="table-responsive">
            Aucun document à afficher. <br />
            Dans cette section vous pourriez retrouver les documents mis de côté.
        </div>
    </div>
</div>
