@using Syncfusion.EJ2.Blazor.Schedule
@inherits HoraireBase
@inject IJSRuntime JSRuntime

<form>
    <label for="Username" class="control-label"> Numéro d'usagé: </label>
    <input placeholder="... .. ." value="@Utilisateur.UserName" class="form-control" disabled />
    <EjsSchedule TValue="InputTimeSpanModel" Height="680px" RowAutoHeight="true" >
        <ScheduleWorkHours Highlight="true" Start="07:00" End="18:00"></ScheduleWorkHours>
        <ScheduleViews>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.WorkWeek"></ScheduleView>
            <ScheduleView Option="View.TimelineWeek"></ScheduleView>
        </ScheduleViews>
    </EjsSchedule>
</form>

@code{
    public int[] WorkingDays { get; set; } = { 1,2,3,4,5 };
}