
@page "/profil/configuration"
@inject IJSRuntime JSRuntime
@inherits Usager


@if (!String.IsNullOrEmpty(StatusMessage))
{
    var statusMessageClass = StatusMessage.StartsWith("Erreur") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @StatusMessage
    </div>
}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h4 style="text-align: center;">
            Configuration du profil.
        </h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link active" id="profile">Profile</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <EditForm Model="Input" id="numero" OnValidSubmit="PostNumberAsync">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                                <label for="Username" class="control-label"> Numéro d'usagé: </label>
                                <input placeholder="... .. ." value="@Username" class="form-control" disabled />
                                <label for="phonenumeber" class="control-label pt-3"> Numéro de poste: </label>
                                <InputText placeholder=".. ... ." @bind-Value="Input.PhoneNumber" class="form-control" />
                                <ValidationMessage class="text-danger" For="(() => Input.PhoneNumber)"></ValidationMessage>                           
                                <button id="update-profile-button" type="submit" class="btn btn-primary mt-3">Sauvegarder</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string internal_link => "/Account/Manage";

    protected override void OnInitialized()
    {
        Input = new InputModel();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
        {
            // obtient l'utilisateur pour le render de la page et des configuration
            user = await _userManager.GetUserAsync((await authenticationStateTask).User);
            Username = user.UserName;
            if (user == null)
            {
                StatusMessage = $"Impossible de trouver l'utlisateur ayant le ID '{Username}'.";
            }

            Input.PhoneNumber = user.PhoneNumber;
            StateHasChanged();
        } 
    }
}