@page "/departement" 
@inject PCU001Context _context

<!-- Affiche tous les départements -->
<div class="col-12">
    <div class="card shadow">
        <div class="card-body">
            @foreach (Department department in departements)
            {
                <!-- Affiche les informations d'un département -->
                <table style="position: relative">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <h4><a href="#">#@department.Id</a></h4>
                            </td>
                            <td>
                                <h4>@department.Title</h4>
                                <!-- Renvoit les programmes reliés au département-->
                                <a href="#">Consulter les programmes reliés</a>

                                <!-- Affiche tous les politiques concernant le département en formaté -->
                                <h5><b>Politique du département</b></h5>
                                <p>@(new MarkupString(department.Policy))</p>
                            </td>
                            <td valign="top" class="flex-column">
                                <button class="btn btn-success">Modifier</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@code {

    List<PlanC.WebApi.Models.Department> departements;

    protected override void OnInitialized()
    {
        // initialise la liste des départements pour la page
        departements = _context.Departments.ToList();
    }
}
