@using PlanC.WebApi.Server.DataAccess
@using PlanC.WebApi.Models
@inject NavigationManager NavigationManager

<!-- Formulaire d'un nouveau plan-cadre -->
    <EditForm Model="@CTemplate" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="CrsTitle"> Titre du cours: </label>
                    <input @bind="CTemplate.Title" type="text" class="form-control" id="CrsTitle" placeholder="Titre du cours" name="CrsTitle" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="CrsId"> Identifiant du cours: </label>
                    <input @bind="CTemplate.Id" type="text" class="form-control" id="CrsId" placeholder="Identifiant du cours" name="CrsId" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-6" for="Units">Nombre d'unité pour le cours: </label>
                    <div class="col-md-6">
                        <input @bind="CTemplate.Units" class="form-control" id="Units" placeholder="Nombre d'unité" name="Units" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-md-6" for="Ponderation">Pondération (propriété non trouvé): </label>
                    <div class="col-md-6">
                        <input class="form-control" id="Ponderation" placeholder="Ingore It" name="Ponderation" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-12" for="CrsIntent">Intention du cours: </label>
            <div class="col-12">
                <textarea rows="4" @bind="CTemplate.Intent" class="form-control" id="CrsIntent" placeholder="Intention éducative..." name="CrsIntent" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-12" for="IntentionPedagogique">Intention du pédagogique (propriété non trouvé): </label>
            <div class="col-12">
                <textarea rows="4" class="form-control" id="IntentionPedagogique" placeholder="Ingore It" name="IntentionPedagogique" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-12" for="IntentionPedagogique">Intention du pédagogique (propriété non trouvé): </label>
            <div class="col-12">
                <textarea rows="4" class="form-control" id="IntentionPedagogique" placeholder="Ingore It" name="IntentionPedagogique" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-12" for="CrsDesc">Description du cours: </label>
            <div class="col-12">
                <textarea rows="4" @bind="CTemplate.Description" class="form-control" id="CrsIntent" placeholder="Description du cours..." name="CrsDesc" />
            </div>
        </div>
        <!--href="/planscadres/nouveau/ponderation"-->
        <div class="col-12">
            <!--href="/planscadres/nouveau/ponderation"-->
            <button class="btn btn-dark" type="submit">Continuer</button>
        </div>
    </EditForm>
@code {
    private CourseTemplate CTemplate = new CourseTemplate();

    private void HandleValidSubmit()
    {
        //
        Console.WriteLine("OnValidSubmit");
        NavigationManager.NavigateTo("/planscadres/nouveau/ponderation");
    }
}
