@using PlanC.WebApi.Server.DataAccess
@using PlanC.WebApi.Models
@using Syncfusion.EJ2.Blazor.Grids
@*context de la base de donné et js runtime*@
@inject PCU001Context _context
@inject IJSRuntime JSRuntime
@* les cdn(s) doivent être ajoutés pour le bon fonctionnement du componant *@

@if (programmes == null)
{
    <p><em>En cours de chargement...</em></p>
}
else if (!programmes.Any())
{
    <p><em>Nous avons trouvé aucun programme.</em></p>
}
else
{
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="d-flex">
                    <button class="btn btn-primary"> Ajouter un département </button>
                    <div class="custom-checkbox pl-5 pt-2 disable-select">
                        <input type="checkbox" class="custom-control-input" id="bulkCheckDepart" />
                        <label class="custom-control-label" for="bulkCheckDepart"> Ajouter plus d'un département </label>
                    </div>
                </div>
            </div>
            <!-- Module table des départements -->
            <EjsGrid DataSource="programmes" TValue="Tpgm" AllowPaging="true" Locale="fr-FR" Toolbar="@(new[] { "Add", "Edit", "Delete", "Cancel", "Update" })">
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Tpgm.PgmTitle) HeaderText="Titre de l'élément" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                    <GridColumn Field=@nameof(Tpgm.PgmDesc) HeaderText="Description" TextAlign="TextAlign.Right" Width="200"></GridColumn>
                </GridColumns>
            </EjsGrid>            
        </div>
    </div>
}

@code {

    private List<Tpgm> programmes;

    protected override void OnInitialized()
    {
        programmes = _context.Tpgm.ToList();
    }

    protected override void OnAfterRender(bool firstRender)
    {
    }
}
