@*le mot clé définissant la page n'est pas sensible la case*@
@page "/admin"
@namespace PlanC.Client.Pages

<div class="row m-3">
    <div class="col-6">
        <a href="/Admin/Programme" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Programmes
        </a>
    </div>

    <div class="col-6">
        <a href="/Role" class="card d-flex justify-content-center text-center" style="height: 50px;">
            Gestion des rôles
        </a>
    </div>
</div>
<hr />
