@page "/"
@using PlanC.Client.Pages.Shared
@inject IJSRuntime JSRuntime


    <div style="min-height: 100%;">
        <div class="row">
            <div id="theme-portal-welcome" class="col-12">
                <div class="text-center">
                    <h1 class="display-4"> Bienvenue au portail Plan C </h1>
                    <p> Vous êtes présentement sur le nouveau portail pour la création de plan-cadre et plans de cours. </p>
                </div>
            </div>
        </div>
        <!-- Section de bienvenue pour les nouveau arrivants -->
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 card shadow" style="margin-bottom: 200px;">
                <div class="card-body" style="font-size: large">
                    <!-- Contrôleur pour les envoyés vers les initialisation prérequis -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- Navigateur pour le mot de bienvenue -->
                        <li class="nav-item">
                            <a class="nav-link active" id="bienvenue-tab" data-toggle="tab" href="#bienvenue"
                               role="tab" aria-controls="bienvenue" aria-selected="false"> Bienvenue </a>
                        </li>
                        <!-- Navigateur pour configurer le profil de l'utilisateur -->
                        <li class="nav-item">
                            <a class="nav-link" id="profil-tab" data-toggle="tab" href="#profil"
                               role="tab" aria-controls="profil" aria-selected="true"> Profil </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3 mb-2" id="myTabContent">
                        <!-- Mot de bienvenue les amenants à se fier au ressources externes et interne -->
                        <div class="tab-pane fade show active" id="bienvenue"
                             role="tabpanel" aria-labelledby="bienvenue-tab">
                            Mot de bienvenue! Nous sommes fière de vous présenter le portail pour la construction des plans de cours et des plans-cadres.
                            vous pouvez vous référez à <a class="card-link" href="http://www.csimple.org">csimple.org</a> pour vous guider à l'élaboration de ses cadres.
                        </div>
                        <!-- Envoit l'usager vers sa page de configuration -->
                        <div class="tab-pane fade" id="profil"
                             role="tabpanel" aria-labelledby="profil-tab">
                            Pour la première visite, nous vous prions de bien vouloir vous rendre à
                            la <a class="card-link" href="/profil/configuration"> configuration de votre profil </a>
                            afin de remplir l'information nécessaire afin de créer un gabarit,
                            lequel soutiendra vos plans.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="d-flex flex-column">
                    <div class="col">
                        <PlanC.Client.Pages.Shared.Biglink href="https://yanharc.gitbook.io/plans-cadres/" info="bglinkDocumentation" />
                    </div>
                    <div class="col mt-3">
                        <PlanC.Client.Pages.Shared.Biglink href="https://accueil.csimple.org/" info="bglinkCsimple" />
                    </div>
                    <div class="col mt-3">
                        <PlanC.Client.Pages.Shared.Biglink href="https://cegepoutaouais.omnivox.ca/" info="bglinkOmnivox" />
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {
    // afficher des site externe
    Biglink.BiglinkContext bglinkDocumentation;
    Biglink.BiglinkContext bglinkCsimple;
    Biglink.BiglinkContext bglinkOmnivox;
    protected override void OnInitialized()
    {

        bglinkDocumentation = new Biglink.BiglinkContext
        {
         icon = "class",
         text = "Voir la documentation."
        };
        bglinkCsimple = new Biglink.BiglinkContext
        {
            icon = "dns",
            text = "csimple"
        };
        bglinkOmnivox = new Biglink.BiglinkContext
        {
            icon = "call",
            text = "omnivox"
        };
    }
}