@page "/"

@inject IJSRuntime JSRuntime

<div class="row">
    <div id="theme-portal-image" class="col-lg-6">
        <img style="width:100%" src="/images/undraw_thinker.svg" />
    </div>
    <div id="theme-portal-welcome" class="col-lg-6">
        <div class="text-center text-lg-left">
            <h1 class="display-4"> Bienvenue au portail Plan C </h1>
            <p> Vous êtes présentement sur le nouveau portail pour la création de plan-cadre et plans de cours. </p>
        </div>
    </div>
</div>
<!-- Section de bienvenue pour les nouveau arrivants -->
<div class="row justify-content-center mt-3">
    <div class="col-10 card shadow">
        <div class="card-body" style="font-size: large">
            <!-- Contrôleur pour les envoyés vers les initialisation prérequis -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!-- Navigateur pour le mot de bienvenue -->
                <li class="nav-item">
                    <a class="nav-link active" id="bienvenue-tab" data-toggle="tab" href="#bienvenue"
                       role="tab" aria-controls="bienvenue" aria-selected="false"> Bienvenue </a>
                </li>
                <!-- Navigateur pour configurer le profil de l'utilisateur -->
                <li class="nav-item">
                    <a class="nav-link" id="profil-tab" data-toggle="tab" href="#profil"
                       role="tab" aria-controls="profil" aria-selected="true"> Profil </a>
                </li>
            </ul>
            <div class="tab-content mt-3 mb-2" id="myTabContent">
                <!-- Mot de bienvenue les amenants à se fier au ressources externes et interne -->
                <div class="tab-pane fade show active" id="bienvenue"
                     role="tabpanel" aria-labelledby="bienvenue-tab">
                    Mot de bienvenue! Nous sommes fière de vous présenter le portail pour la construction des plans de cours et des plans-cadres.
                    vous pouvez vous référez à <a class="card-link" href="www.csimple.org">csimple.org</a> pour vous guider à l'élaboration de ses cadres.
                </div>
                <!-- Envoit l'usager vers sa page de configuration -->
                <div class="tab-pane fade" id="profil"
                     role="tabpanel" aria-labelledby="profil-tab">
                    Pour la première visite, nous vous prions de bien vouloir vous rendre à
                    la <a class="card-link" href="/personnel"> configuration de votre profil </a>
                    afin de remplir l'information nécessaire afin de créer un gabarit,
                    lequel soutiendra vos plans.
                </div>
            </div>
        </div>
    </div>
</div>

<button @onclick="Yay">yay</button>


<div id="editor">
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        // la vue peut se render plusieurs fois au initialise et
        // suite au changement de la composante
        if (firstRender)
        {
            // call avec le jsinterop afin de lier les composantes
            // que jquery et que les plugins ui ne peuvent s'accroché
            // car elles ont un cycle différent
            await JSRuntime.InvokeAsync<string>("InitTrumbowyg", "#editor");
        }
    }

    async void Yay()
    {
        // call avec le jsinterop afin de lier les composantes
        // que jquery et que les plugins ui ne peuvent s'accroché
        // car elles ont un cycle différent
        var text = await JSRuntime.InvokeAsync<string>("PropsTrumbowyg", new object[] { "#editor", "html" });

    }
}