@page "/demo"
@using Newtonsoft.Json
@*context de la base de donné et js runtime*@
@inject PCU001Context _context
@inject IJSRuntime JSRuntime

<h1>Demo compétences</h1>

<div class="form-group green-border-focus">
    <label for="inputParser">Passé en utilisant la fonction copier/coller les éléments de la compétence, ainsi que ses critères. </label>
    <textarea class="form-control" rows="6" id="inputParser"></textarea>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Élément de la compétence</th>
            <th scope="col">Critères de performance</th>
        </tr>
    </thead>
    <tbody id="tableCompetence">
    </tbody>
</table>


<button class="btn btn-success">Sauvegarder</button>

@code {
    private List<Programmes> programmes;
    private Programmes newProgram = new Programmes();

    protected override void OnInitialized()
    {
        // part l'initialisateur chez le client
        programmes = _context.Programmes.ToList();

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeAsync<string>("requestScripts", JsonConvert.SerializeObject(new string[] { "/js/stringparser.js" }));
        }
    }
}