@page "/programme/{id}/create"

@using PlanC.WebApi.Models
@inject NavigationManager NavigationManager
@inject PCU001Context context

<!-- Section de navigation -->
<div class="row mb-3">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- Donne accès au portail selon le role de l'utilisateur -->
                <li class="breadcrumb-item"><a href="/"> Portail </a></li>
                <li style="padding: 0 4px;"><i class="fas fa-home" style="font-size: 15px; color: #3f51b5;"></i></li>
                <li class="breadcrumb-item"><i class="fas fa-circle" style="font-size: 5px; vertical-align: middle; padding-right: 2px;"></i></li>
                <li class="breadcrumb-item"><a href="/Programme"> Programmes </a></li>
                <li class="breadcrumb-item"><i class="fas fa-circle" style="font-size: 5px; vertical-align: middle; padding-right: 2px;"></i></li>
                <li class="breadcrumb-item"><a href="/Programme/@Id"> @program.PgmTitle </a></li>
                <li class="breadcrumb-item"><i class="fas fa-circle" style="font-size: 5px; vertical-align: middle; padding-right: 2px;"></i></li>
                <li class="breadcrumb-item active" aria-current="page"> Nouveau plan cadre </li>
            </ol>
        </nav>
    </div>
</div>

<!-- Formulaire d'un nouveau plan-cadre -->
<div class="container">
    <div class="row">
        <!-- Valeur pour le titre du plan-cadre -->
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label" for="CrsTitle"> Titre du cours: </label>
                <input readonly type="text" class="form-control" id="CrsTitle" placeholder="Titre du cours" name="CrsTitle" value="@program.PgmTitle" />
            </div>
        </div>
        <!-- Valeur pour l'identification du cours -->
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label" for="CrsId"> Identifiant du cours: </label>
                <input readonly type="text" class="form-control" id="CrsTitle" placeholder="Titre du cours" name="CrsTitle" value="@program.PgmId" />
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Nombre d'unités pour le cours données -->
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="Units">Nombre d'unité pour le cours: </label>
                <input Mask="00000" @bind="CTemplate.Units" class="theme-mask" id="Units" placeholder="Nombre d'unité" />
            </div>
        </div>
        <!-- Ajout de la pondération -->
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="Ponderation">Pondération (propriété non trouvé): </label>
                <input class="form-control" id="Ponderation" placeholder="Ingore It" name="Ponderation" />
            </div>
        </div>
    </div>
    <!-- Séparateur -->
    <hr />
    <!-- les intentions du cours -->
    <div class="form-group">
        <label class="control-label" for="CrsIntent">Intention du cours: </label>
        <textarea @bind="CTemplate.EducationalIntent" rows="4" class="form-control" id="CrsIntent" placeholder="Intention éducative..." name="CrsIntent" />
    </div>
    <!-- Entrés pour les intentions pédagogiques du cours -->
    <div class="form-group">
        <label class="control-label" for="IntentionPedagogique">Intention du pédagogique: </label>
        <textarea @bind="CTemplate.PedagogicalIntent"  rows="4" class="form-control" id="IntentionPedagogique" placeholder="Ingore It" name="IntentionPedagogique" />
    </div>
    <!-- Descriptions du cours -->
    <div class="form-group">
        <label class="control-label col-12" for="CrsDesc">Description du cours: </label>
        <textarea @bind="CTemplate.Description" rows="4" class="form-control" id="CrsIntent" placeholder="Description du cours..." name="CrsDesc" />
    </div>
    <!--href="/planscadres/nouveau/ponderation"-->
    <div class="col-12">
        <!--href="/planscadres/nouveau/ponderation"-->
        <button class="btn btn-dark" @onclick="HandleValidSubmit">Continuer</button>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    public string tid { get; set; }
    public Tpgm program;

    private CourseTemplate CTemplate = new CourseTemplate();

    protected override void OnInitialized()
    {        
        tid = Id.Replace('-', '.');
        program = context.Tpgm.First(e => e.PgmId == tid);
    }

    // validation côté serveur
    private void HandleValidSubmit()
    {
        NavigationManager.NavigateTo("/planscadres/nouveau/ponderation");
    }
}
