@page
@model PlanC.Web.Client.Areas.Admin.Pages.Departements.IndexModel
@{
}

<!-- Titre de la page -->
<h1 class="h3 mb-1 text-gray-800"> Les départements </h1>

@(await Html.RenderComponentAsync<PlanC.Web.Client.Components.TDepartements>(RenderMode.Server))