
<!-- Formulaire d'un nouveau plan-cadre -->
<!-- Valeur pour le titre du plan-cadre -->
<div class="row">
    <div class="col-12">
        <h3> Formulaire de plan-cadre: </h3>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label class="control-label" for="CrsTitle"> Titre du du programme: </label>
            <input readonly type="text" class="form-control" value="@Program.ToString()" />
        </div>
    </div>
</div>

<div class="row">
    <!-- Valeur pour le titre du plan-cadre -->
    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label" for="CrsTitle"> Titre du cours: </label>
            <input type="text" class="form-control" value="@CTemplate.DenominationCours" />
        </div>
    </div>
    <!-- Valeur pour l'identification du cours -->
    <div class="col-lg-6">
        <div class="form-group">
            <label class="control-label" for="CrsId"> Identifiant du cours: </label>
            <input type="text" class="form-control" value="@CTemplate.CoursId" />
        </div>
    </div>
</div>
<div class="row">
    <!-- Nombre d'unités pour le cours données -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="Units"> Nombre d'unités: </label>
            <input @bind="CTemplate.Unites" class="theme-mask" id="Units" />
        </div>
    </div>
    <!-- Ajout de la pondération -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="Ponderation"> Pondération du cours: </label>
            <div class="row">
                <div class="col-1">
                    <input class="theme-mask" name="HeuresTotalesThéories" @bind="CTemplate.HeuresTotalesTheorie" />
                </div>
                <div class="col-1">
                    <input class="theme-mask" name="HeuresTotalesPratiques" @bind="CTemplate.HeuresTotalesPratique" />
                </div>
                <div class="col-1">
                    <input class="theme-mask" name="HeuresTotalesMaison" @bind="CTemplate.HeuresTotalesMaison" />
                </div>
            </div>
        </div>
    </div>
    <!-- Séparateur -->
    <hr />
    <div class="col-12">
        <!-- Descriptions du cours -->
        <div class="form-group">
            <label class="control-label col-12" for="CrsDesc">Description du cours: </label>
            <textarea @bind="CTemplate.Description" rows="4" class="form-control" id="CrsIntent" name="CrsDesc" />
        </div>
    </div>
    <div class="col-12">
        <!-- les intentions du cours -->
        <div class="form-group">
            <label class="control-label" for="CrsIntent">Intention du cours: </label>
            <textarea @bind="CTemplate.IntentionEducative" rows="4" class="form-control" id="CrsIntent" name="CrsIntent" />
        </div>
    </div>
    <div class="col-12">
        <!-- Entrés pour les intentions pédagogiques du cours -->
        <div class="form-group">
            <label class="control-label" for="IntentionPedagogique">Intention du pédagogique: </label>
            <textarea @bind="CTemplate.IntentionPedagogique" rows="4" class="form-control" id="IntentionPedagogique" name="IntentionPedagogique" />
        </div>
    </div>
    <!--href="/planscadres/nouveau/ponderation"-->
    <div class="col-12">
        <!--href="/planscadres/nouveau/ponderation"-->
        <button class="btn btn-dark" @onclick="HandleValidSubmit">Continuer</button>
    </div>

</div>
@code {
    [Bindable]
    [Parameter]
    public Programmes Program { get; set; }

    [CascadingParameter] // donne a tous enfants le demandant le a valeur bindé
    protected PCU001Context context { get; set; }
    public string tid { get; set; }
    private PlansCadres CTemplate = new PlansCadres();

    protected override void OnInitialized()
    {
    }

    // validation côté serveur
    private void HandleValidSubmit()
    {
        try
        {

        }
        catch
        {

        }
    }
}
