USE [PCU001]
GO
/****** Object:  Table [dbo].[TCRSTMPLT]    Script Date: 2019-10-08 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCRSTMPLT](
	[CRS_ID] [nchar](10) NOT NULL,
	[VSN_CDTTM] [datetime] NOT NULL,
	[DPTMNT_ID] [int] NULL,
	[CRS_TITLE] [nvarchar](50) NULL,
	[UNITS] [decimal](3, 2) NULL,
	[CRS_DESC] [ntext] NULL,
	[CRS_INTENT] [ntext] NULL,
	[DPTMNT_APPRV_DT] [date] NULL,
	[CMTE_APPRV_DT] [date] NULL,
	[BOARD_APPRV_DT] [date] NULL,
	[TRK_UID] [varchar](7) NULL,
	[RCD_CDTTM] [datetime] NULL,
 CONSTRAINT [PK_TCRSTMPLT] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[VSN_CDTTM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TDPTMNT]    Script Date: 2019-10-08 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDPTMNT](
	[DPTMNT_ID] [int] NOT NULL,
 CONSTRAINT [PK_TDPTMNT] PRIMARY KEY CLUSTERED 
(
	[DPTMNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPGM]    Script Date: 2019-10-08 15:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPGM](
	[PGM_ID] [char](6) NOT NULL,
	[DPTMNT_ID] [int] NULL,
	[PGM_TITLE] [nchar](10) NULL,
	[PGM_DESC] [nchar](10) NULL,
	[PGM_TY_CD] [nchar](10) NULL,
 CONSTRAINT [PK_TPGM] PRIMARY KEY CLUSTERED 
(
	[PGM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSKL]    Script Date: 2019-10-08 15:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKL](
	[SKL_ID] [char](4) NOT NULL,
	[PGM_ID] [char](6) NOT NULL,
	[SKL_TITLE] [varchar](200) NULL,
	[ASSC_ATTD] [ntext] NULL,
	[TRK_UID] [varchar](7) NULL,
	[RCD_CDTTM] [datetime] NULL,
 CONSTRAINT [PK_TSKL] PRIMARY KEY CLUSTERED 
(
	[SKL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TSKLELEM]    Script Date: 2019-10-08 15:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSKLELEM](
	[SKL_ID] [char](4) NOT NULL,
	[SKLELEM_SQNBR] [smallint] NOT NULL,
	[SKLELEM_TITLE] [nvarchar](50) NULL,
	[SKLELEM_DESC] [ntext] NULL,
	[TRK_UID] [varchar](7) NULL,
	[RCD_CDTTM] [datetime] NULL,
 CONSTRAINT [PK_TSKLELEM] PRIMARY KEY CLUSTERED 
(
	[SKL_ID] ASC,
	[SKLELEM_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTMPLTSKLELEM]    Script Date: 2019-10-08 15:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTMPLTSKLELEM](
	[CRS_ID] [nchar](10) NOT NULL,
	[VSN_CDTTM] [datetime] NOT NULL,
	[SKL_ID] [char](4) NOT NULL,
	[SKLELEM_SQNBR] [smallint] NOT NULL,
	[PRTL_SKL_IND] [char](1) NULL,
 CONSTRAINT [PK_TTMPLTSKLELEM] PRIMARY KEY CLUSTERED 
(
	[CRS_ID] ASC,
	[VSN_CDTTM] ASC,
	[SKL_ID] ASC,
	[SKLELEM_SQNBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TPGM]  WITH CHECK ADD  CONSTRAINT [FK_TPGM_TDPTMNT] FOREIGN KEY([DPTMNT_ID])
REFERENCES [dbo].[TDPTMNT] ([DPTMNT_ID])
GO
ALTER TABLE [dbo].[TPGM] CHECK CONSTRAINT [FK_TPGM_TDPTMNT]
GO
ALTER TABLE [dbo].[TSKL]  WITH CHECK ADD  CONSTRAINT [FK_TSKL_TPGM] FOREIGN KEY([PGM_ID])
REFERENCES [dbo].[TPGM] ([PGM_ID])
GO
ALTER TABLE [dbo].[TSKL] CHECK CONSTRAINT [FK_TSKL_TPGM]
GO
ALTER TABLE [dbo].[TSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TSKLELEM_TSKL] FOREIGN KEY([SKL_ID])
REFERENCES [dbo].[TSKL] ([SKL_ID])
GO
ALTER TABLE [dbo].[TSKLELEM] CHECK CONSTRAINT [FK_TSKLELEM_TSKL]
GO
ALTER TABLE [dbo].[TTMPLTSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TTMPLTSKLELEM_TCRSTMPLT] FOREIGN KEY([CRS_ID], [VSN_CDTTM])
REFERENCES [dbo].[TCRSTMPLT] ([CRS_ID], [VSN_CDTTM])
GO
ALTER TABLE [dbo].[TTMPLTSKLELEM] CHECK CONSTRAINT [FK_TTMPLTSKLELEM_TCRSTMPLT]
GO
ALTER TABLE [dbo].[TTMPLTSKLELEM]  WITH CHECK ADD  CONSTRAINT [FK_TTMPLTSKLELEM_TSKLELEM] FOREIGN KEY([SKL_ID], [SKLELEM_SQNBR])
REFERENCES [dbo].[TSKLELEM] ([SKL_ID], [SKLELEM_SQNBR])
GO
ALTER TABLE [dbo].[TTMPLTSKLELEM] CHECK CONSTRAINT [FK_TTMPLTSKLELEM_TSKLELEM]
GO
