@page "/competence/nouvelle"
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@using Syncfusion.EJ2.Blazor.Grids


<div class="container-fluid">
    <div class="col">
        <h1>Nouvelle compétence</h1>
        <EditForm Model="@competence" class="competence-form" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label class="control-label col-sm-2" for="SklId">Numéro de la compétence: </label>
                <div class="col-sm-10">
                    <InputText @bind-Value="competence.SklId" type="text" class="form-control" id="SklId" placeholder="Numéro de la compétence" name="SklId" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="PgmId">Numéro du programme: </label>
                <div class="col-sm-10">
                    <InputText @bind-Value="competence.PgmId" type="text" class="form-control" id="PgmId" placeholder="Numéro du programme" name="PgmId" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="SklTitle">Titre de la compétence: </label>
                <div class="col-sm-10">
                    <InputText @bind-Value="competence.SklTitle" type="text" class="form-control" id="SklTitle" placeholder="Libélé de la compétence" name="SklTitle" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="AsscAttd">Attente: </label>
                <div class="col-sm-10">
                    <InputTextArea @bind-Value="competence.AsscAttd" class="form-control" rows="5" id="AsscAttd" name="AsscAttd"></InputTextArea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="SklContext">Context de réalisation: </label>
                <div class="col-sm-10">
                    <InputTextArea @bind-Value="competence.SklContext" class="form-control" rows="5" id="SklContext" name="SklContext"></InputTextArea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="row">
                <EjsGrid DataSource="@GetTsklelems" AllowPaging="true">
                    <GridPageSettings PageCount="5"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(Tsklelem.SklId) HeaderText="ID éléments" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(Tsklelem.SklelemTitle) HeaderText="Titre de l'élément" TextAlign="TextAlign.Right" Width="130"></GridColumn>
                        <GridColumn Field=@nameof(Tsklelem.SklelemDesc) HeaderText="Description" TextAlign="TextAlign.Right" Width="200"></GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </EditForm>
    </div>

</div>



@code {
    Tskl competence = new Tskl();
    List<Tcrssklelem> tcrssklelems = new List<Tcrssklelem>();

    public List<Tcrssklelem> GetTsklelems
    {
        get
        {
            return tcrssklelems;
        }
    }

    private void HandleValidSubmit()
    {

        Console.WriteLine("OnValidSubmit");
        NavigationManager.NavigateTo("/");
    }
}
