@page "/Finaliser"

<h1>Création d'un plan-cadre</h1>

<p>Les 4 étapes sont terminés et le plan-cadre est terminé.</p>

<a class="btn btn-outline-info" href="/">Retourner à la page d'accueil</a>

@code {

}
