<header>
    <nav class="navbar-lab navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow">
        <div class="container-fluid">
            <div class="header-content">
                <div class="header-content__left">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlanC</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="header-content__right-collapse">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlanC</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>